---


const response = await fetch("https://accounts.spotify.com/api/token", {
  method: "POST",
  headers: {
    "Content-Type": "application/x-www-form-urlencoded"
  },
  body: new URLSearchParams({
    grant_type: "client_credentials",
    client_id: import.meta.env.SPOTIFY_CLIENT_ID,
    client_secret: import.meta.env.SPOTIFY_CLIENT_SECRET,
  })
})

const data = await response.json()
const token = data.access_token 

const searchResponse = await fetch("https://api.spotify.com/v1/search?q=artists similar to mfdoom&type=artist&limit=5", {
  headers: {
    Authorization: `Bearer ${token}`
  }
})

const searchData = await searchResponse.json()
// console.log(searchData)


const res = await fetch("https://api.spotify.com/v1/search?q=mf+doom&type=track&limit=3", {
  headers: {
    Authorization: `Bearer ${token}`
  }
})
const songdata = await res.json()
const songs = songdata.tracks.items
console.log(songs[0].name, songs[1].name, songs[2].name)

// const res2 = await fetch("https://api.spotify.com/v1/search?q=lupefiasco&type=track&limit=5", {
//   headers: {
//     Authorization: `Bearer ${token}`
//   }
// })
// const tdata2 = await res2.json()
// const tracks2 = tdata2.tracks.items
// console.log(tracks2[0].name, tracks2[1].name, tracks2[2].name)


const artist = await fetch("https://api.spotify.com/v1/artists/2pAWfrd7WFF3XhVt9GooDL", {
  headers: {
    Authorization: `Bearer ${token}`
  }
})

const artistdata = await artist.json()
// console.log(artistdata)



---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>{artistdata.name}</h1>
		<ul>
		</ul>
		<ul>
  {searchData.artists.items.map(artist => (
    <li>{artist.name}</li>
  ))}
</ul>
	</body>
</html>
